section {
    padding: 1em;
}
.hero {
    background-image: url("img/bg-live.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModal__Content.ReactModal__Content--after-open {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.button__grey {
    background-color: #e6e6e6 !important;
    color: #0a0a0a !important;
}

.button__cwu {
    background-color: #a70632 !important;
}

.diploma__content-container {
    background-image: url("/commencement-2020/Grad_Slide_Template.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vh;
    height: min(71vw, 77.36vh);;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.diploma__modal_buttons {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    justify-content: space-between;
    align-items: flex-start;
}

.diploma__content {
    height: calc(100% - 4vh - 2.35vh);
    width: calc(100% - 17.5vh - 3.017vh);
    margin-left: 17.5vh;
    margin-top: 3.1vh;
    padding-left: 3.017vh;
    display: flex;
    flex-direction: column;
}

.diploma__name, .diploma__honor {
    color: white;
    font-size: 3rem;
    line-height: 1em;
    flex: 0 1 auto;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 0.125em;
}
.diploma__honor {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: .3rem;
}
.diploma__honor .fa-user-graduate {
    font-size: 1.3rem;
}
.diploma__degree {
    color: white;
    font-size: 2rem;
    line-height: 1em;
    width: 100%;
    flex: 0 1 auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
}

.diploma__bottom {
    display: flex;
    flex: 1 1;
    width: 100%;
}

.diploma__picture-container {
    display: flex;
    flex: 0.6 1;
    flex-direction: row;
}

.diploma__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.diploma__note {
    flex: 0.4;
    padding-left: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

textarea {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;

    max-height: 49vh;
    min-height: 4em;
}
.brandingLogo img {
    width: 250px;
    margin: 0 auto;
    display: block;
}
a {
    color: #cc1540;
}
.hero-content {
    text-align: center;
    font-size: 1.5rem;
    font-family: georgia, serif;
}
h1 {
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.commencement-info {
    background-color: #e7e7e7;
    padding: 3rem;
}
.program {
    text-align: center;
    border-right: 1px solid #c1c1c1;
}
.program:last-child {
    text-align: center;
    border-right: 0;
}
.program span {
    display: inline-block;
    border: 2px solid #000;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
}
.program:hover span {
    background: gray;
    color: white;
    transition: all 0.5s;
}
.shout-out-title {
    margin-bottom: 6rem;
}
.shout-outs {
    padding: 3rem 6rem;
    background-color: #e1e1e1;
}
@media only screen and (max-width: 640px) {
  .shout-outs {
    padding: 2rem 1.5rem 3rem;
  }
  .congrats {
    padding-top: 3rem !important;
  }
  .cell .classyLetter {
      font-size: 4rem !important;
  }
}
.congrats {
    text-align: center;
    padding-top: 2rem;
}
.thumbnail {
    margin-right: 25px;
}
.shout-outs .shoutThumb {
    border: 5px solid white;
    cursor: pointer;
}

.closeInstruction {
    text-align: right;
    padding: 0.5rem;
    padding-top: 0;
}
.grad-slide-text {
    margin-bottom: 3rem;
}
.student [class*="honors_3hmsj"] {
    font-weight: 700;
}
.greekHonor {
    text-align: left !important;
}
.graduate-names,
.social {
    padding: 3rem 3rem;
}
.graduate-names {
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.slideInst {
    padding: 1.5rem;
    background-color: #d9edf7;
    border: 1px solid #bcdff1;
    color: #31708f;
}
.emph {
    color: red;
}
.congrats {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: -2rem;
}
.social {
    background-color: #000;
    color: #fff;
}
.social p {
    margin-bottom: 0;
}
iframe {
    width: 100%;
    border: 0;
}

.item-student.closed {
    flex: 0;
    transition: 2s;
}

.item-student.closed {
    flex: 1;
    transition: 2s;
}

.student {
    border-bottom: 1px solid #ccc;
    padding: 1em;
    border-radius: 4px;
    margin: 0;
    margin-left: 2rem;
    font-size: 1.2rem;
}
.student:hover {
    background-color: #a30f32;
    color: white;
    transition: all 0.3s;
}
.student:hover {
    transition: all 0.2s;
}

.student:hover {
    transition: all 0.2s;
}

button.letter {
    font-size: 1rem;
    padding: 1rem;
    background-color: #e7e7e7;
    cursor: pointer;
    border: 1px solid white;
}
button.letter:hover {
    background-color: #414141;
    color: white;
    transition: all 0.3s;
}

@keyframes modal-video {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes modal-video-inner {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, 0);
    }
}
.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.modal-video-effect-exit {
    opacity: 0;
}
.modal-video-effect-exit .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
}
.modal-video-body {
    max-width: 940px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
}
.modal-video-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.modal-video-movie-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #333;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video-inner;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: -35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
}
.modal-video-close-btn:before {
    transform: rotate(45deg);
}
.modal-video-close-btn:after {
    transform: rotate(-45deg);
}
.modal-video-close-btn:before,
.modal-video-close-btn:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px;
}
.slick-prev,
.slick-next {
    position: absolute;
    top: calc(50% - 22px);
    z-index: 999;
    font-size: 1.875rem;
}
.slick-prev {
    left: -2.5rem;
}
.slick-next {
    right: -2.5rem;
}
@media all and (max-width: 480px) {
    .slick-prev,
    .slick-next {
        position: absolute;
        top: calc(100% - 0.25rem);
        z-index: 999;
        font-size: 1.875rem;
    }
    .slick-prev {
        left: calc(50% - 2.5rem);
    }
    .slick-next {
        right: calc(50% - 2.5rem);
    }
}
a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 1100;
    right: 20px;
    bottom: 20px;
    background: transparent url("img/arrow-up.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


/*
----------------
Plyr styles
----------------
*/
.video-container {
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 1380px;
    border: 5px solid white;
    z-index: 999999;
}
@media only screen and (max-width: 640px) {
    .video-container {

    }
    section.hero {
        height: 40vh !important;
    }
}
@media only screen and (max-width: 768px) {
    .video-container {
        width: 80%;
    }
    section.hero {
        height: 50vh !important;
    }
}
@media only screen and (max-width: 1024px) {
    .video-container {
        width: 80%;
    }
    section.hero {
        height: 40vh !important;
    }
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}